$color-primary: #1E3040;
$color-secondary: #C83259;
$color-orange: #FF7800;
$color-green: #28696A;

@mixin tablet-portrait {
  @media (min-width: 480px) { @content; }
}

@mixin tablet-landscape {
  @media (min-width: 900px) { @content; }
}

@mixin desktop-small {
  @media (min-width: 1200px) { @content; }
}

@mixin desktop-large {
  @media (min-width: 1800px) { @content; }
}